.active-text {
  color: #C49B63 !important;
}

section#menu .container .row > div {
  margin-bottom: 8em;
}

section#menu .container .row h3.title {
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 2em;
  letter-spacing: 1;
}

section#menu .container .row .object-wrapper .object-media {
  display: flex;
  align-items: center;
  margin-bottom: 2em;
}

section#menu .container .row .object-wrapper .object-media img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

section#menu .container .row .object-wrapper .object-media .object-body {
  padding-left: 1em;
}

section#menu .container .row .object-wrapper .object-media .object-body h4 {
  margin-bottom: .5em;
  color: #fff;
  font-size: 1.2rem;
}

section#menu .container .row .object-wrapper .object-media .object-body p {
  color: grey;
}

section#menu .container .row .object-wrapper .object-media .object-body span.price::before {
  content: "";
  display: inline-block;
  width: 250px;
  height: 1px;
  border-bottom: 1px dashed #C49B63;
}

section#discover-products {
  margin-bottom: 10em;
}
